<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/common/dist/css/bootstrap.css">
    <script src="/common/jquery.min.js"></script>
    <script src="/common/dist/js/bootstrap.js"></script>
</head>
<body>
    <form id="form" class="center-block">
        <h1 class="center-block">登录</h1>
        <div class="form-group">
          <input type="text" name="username" id="username" class="form-control input-lg center-block" placeholder="用户名" required>
        </div>
    
        <div class="form-group">
          <input type="password" name="password" id="password" class="form-control input-lg center-block" placeholder="密码" required>
        </div>
        <div class="form-group">
          <button type="submit" value="登录" class="btn btn-primary btn-lg center-block" href="/article">登录</button>
        </div>
      </form>
      <script>
        $(function(){
          $("#form").on("submit",function(e){
            e.preventDefault()

          //  console.log($("#form").serialize());
            
            $.ajax({
              url:"/loginpost",
              type:"post",
              dataType:"json",
              data:$("#form").serialize(),
              success:function(res){
                console.log(res);
                
              window.location.href="/article"
              }
            })
          
          })
        })
      </script>
</body>
</html>